# FILE HANDLING

In [1]:
#Importing important libraries
import pandas as pd
import numpy as np
import os
print("Import complete")

Import complete

In [2]:
f = open("demofile.txt") #By default taking mode as read mode
print(f.read())

Namaste india
Namaste japan
Namaste russia
Namaste nepal

In [3]:
f.close() #For closing the opened file

In [4]:
f = open("demofile.txt", "r") #Implicitely mentioning the read mode
print(f.read())

Namaste india
Namaste japan
Namaste russia
Namaste nepal

In [5]:
f = open("demofile.txt", "r")
print(f.read(4)) #printing till 4 characters

Nama

In [6]:
f = open("demofile.txt")
print(f.readline()) #Reading line by line
print(f.readline())

Namaste india

Namaste japan

In [7]:
f = open("demofile.txt")
for x in f: #Accessing the file using for loop
    print(x)

Namaste india

Namaste japan

Namaste russia

Namaste nepal

In [10]:
f = open("demofile.txt", "a") #Opening file in append mode
f.write("\nWelcome to kiit university")

27

In [14]:
f = open("abc.txt", "w")
f.write("Oops!! everything deleted")
f = open("abc.txt", "r")
print(f.read())
f.close()

Oops!! everything deleted

In [15]:
f = open("newfile.txt", "x") #Using x mode we can create new file

In [18]:
f = open("newfile.txt", "a")
f.write("New file created")

16

In [19]:
f = open("newfile.txt")
print(f.read())

New file created and text insertedNew file created

In [20]:
f.close()

In [32]:
os.remove("newfile.txt") #Remove a file, if we want to delete a directory: os.rmdir("directoryname")

### wap that reads a file line by line, each line read from the file is coppied to another file with line number specified at begining of the line

In [31]:
f = open("demofile.txt", "r")
z = open("newfile2.txt", "a")
x = 1
for i in f:
    z.write(str(x)+i)
    x+=1
f = open("newfile2.txt", "r")
print(f.read())

1Namaste india
2Namaste japan
3Namaste russia
4Namaste nepal

### count and display words having charecters more than 5

In [33]:
w = open("start.txt", "w")
w.write("Hello my name is siddharth. I am a student of kiit university.")
w = open("start.txt", "r")
txt = w.read()
lst = txt.split(" ")
for i in lst:
    if len(i) > 5:
        print(i)

siddharth.
student
university.

# REGEX

In [45]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [46]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

In [51]:
import re

txt = "The rain in Spain"
x = re.search("\s", txt)

print("First space character is located at index:", x.start())

First space character is located at index: 3

In [52]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [54]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

In [1]:
import re
str1 = "Welcome to kiit"
x = re.search("^Wel.*it", str1)
if x:
    print("Match found!!")
else:
    print("No match found!!")

Match found!!

In [2]:
str1 = "Welcome to kiit"
x = re.findall("^Wel.*it", str1)
print(x)
if x:
    print("Match found!!")
else:
    print("No match found!!")

['Welcome to kiit']
Match found!!

In [3]:
x = re.findall("\AWelcome", str1)
print(x)

['Welcome']

In [4]:
x = re.findall("el", str1)
print(x)

['el']